<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <p id="name">{{game().name}}</p>
            </div>
            <div class="right">
                <img class="platform" src={{game().platformLogoPath}}>
            </div>
        </header>
        <figure>
            <img src={{game().imagePath}}>
            <figcaption>{{game().releaseDate}}</figcaption>
        </figure>
        <div id="description">
            <p>{{game().description}}</p>
        </div>
    </div>
</div>