<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <p id="name">Subnautica</p>
            </div>
            <div class="right">
                <img class="steam" src="/img/steam-logo.png">
            </div>
        </header>
        <figure>
            <img src="/img/subnautica.jpeg">
            <figcaption>23/01/2018</figcaption>
        </figure>
        <div id="description">
            <p>Descendez dans les profondeurs d'un monde sous-marin étranger plein de merveilles et périls. Concevez des équipements, pilotez des sous-marins, terraformez un terrain voxel, et adaptez-vous à la vie sauvage afin d’explorer le monde, tout en essayant de survivre.</p>
        </div>
    </div>
</div>